.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.summaryList{
  padding:0;
  margin:0;
  list-style: none;
}
.summaryList li.firstchild {
  border:1px solid #bfc4cc;
  font-weight: 500;
  padding:2px;
  background-color: #ad53dc;
}
.subSummary{
  padding:3px;
  margin:3px;
  list-style: none;
}

.subSummary li{
  border:none;
}

.teamname{
  font-weight: 500;
  font-size: 24px;
  font-style: italic;
  background:rgb(122, 217, 255);
  border:solid 1px rgb(77, 148, 255);
  padding:3px;
  margin-bottom:2px;
}

.stories{
  font-size: 13px;
  border:solid 1px #f0d53f;
  background:#FFFF66;
  margin-bottom:5px;
  width:200px;
  padding:2px;
}
.stories .features{
  font-size: 14px;
  border-bottom:solid 1px #f1f13c;
  margin:0;
  padding:2px;
  color:#211896;
  font-style: italic;
}
.stories .desc{
  font-size: 13px;
  border-bottom:solid 1px #f1f13c;
  height:50px;
  margin:0;
  padding:2px;
}
.stories .points{
  font-size: 14px;
  margin:0;
  text-align: right;
  padding:2px;
}

.numberCircle{
   border-radius: 50%;
  padding-right:5px;
  padding-left:5px;
  background: #f7f6f4;
  border: 1px solid #e2e2e0;
}

.piRis{
  background:rgb(255, 126, 122);
  border:solid 1px rgb(255, 77, 77);
  margin-bottom:5px;
  width:180px;
  padding:2px;
}

.piCom,.piUncom{
  background:rgb(122, 255, 155);
  border:solid 1px rgb(77, 255, 122);
  margin-bottom:5px;
  width:180px;
  padding:2px;
  
}
.piObj{
  background:rgb(122, 217, 255);
  border:solid 1px rgb(77, 148, 255);
  margin-bottom:5px;
  width:180px;
  padding:2px;
  
}

.center {
  margin: auto;
  width: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  z-index: 2000;
}
div.loader {
  font-size: 70px;
  color:#a74343;
}

.loaded {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
}

.darkThead{
  background-color: #3d635a;
}

.viewOnlyTxtArea{
  background-color: white;
  font-size: 13px;
}

.dependOn{
  background: yellow;
  border: 1px solid grey;
  padding: 5px;
  border-radius: 50%
}
.marginAuto{
  margin: auto;
}